.example-card {
    max-width: 400px;
    max-width: 400px;
    max-height: 450px;
    min-height: 450px;
    margin-bottom: 50px;
    color: black;
}

.example-card-img {
    max-width: 400px;
    max-height: 280px;
}